{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "conversationId = :id",
        "expressionValues" : {
            ":id" : {
                "S" : "${context.arguments.conversationId}"
            }
        }
    },
    "scanIndexForward" : false
}